a {
    text-decoration: none;
    color: white;
}

.icon-bar {
    display: block;
  width: 22px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
  margin-top: 4px;
}

span {
  color: white;
}